*~
.#*
._*
~*
*.7z
*.a
*.autosave
*.bak
*.bin
bin
*.bz2
callgrind.out*
*.class
core
core.*
cov-int
cov-int.*
[Dd]ebug
[Dd]ebug*
[Dd]ebug-*
*.deb
*.dep
*.dll
*.dll.embed.manifest.dll
*.dll.embed.manifest.ilk
doxy
.DS_Store
*.dylib
*.exe
*.gcov
gmon.out
*.gz
*.idb
ipch
*.jar
.kdbgrc.*
*.ko
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.out
.project
*.pro.user
*.pro.user.*
*.pyc
__pycache__
*.rpm
[Rr]elease
[Rr]elease*
[Rr]elease-*
*.sdf
*.so
*.stackdump
*.suo
*.t2d
*.tgz
*.tlog
*.tmp
tmp
.tmp_versions
*.trp
*.ts
*.user
*.user.*
*.VC.db
*.VC.dbopen
*.VC.opendb
*.vcproj.*.user
*.vcxproj.user
vgcore.*
.vs
x64
*.zip
