*~
.#*
._*
~*
*.7z
*.a
*.apk
*.autosave
*.bak
*.bin
bin
*.bz2
callgrind.out*
*.class
core
core.*
cov-int
cov-int.*
Debug-*
*.deb
*.dep
*.dll
doxy
.DS_Store
*.dylib
*.exe
*.gcov
gmon.out
*.gz
*.idb
*.ilk
ipch
*.jar
.kdbgrc.*
*.ko
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.out
*.pro.user
*.pro.user.*
*.pyc
__pycache__
*.rpm
Release-*
*.sdf
*.so
*.stackdump
*.suo
*.t2d
*.tgz
*.tlog
*.tmp
tmp
.tmp_versions
*.trp
*.ts
*.user
*.user.*
*.VC.db
*.VC.dbopen
*.VC.opendb
vgcore.*
.vs
x64
*.zip
