*.a
*.o
*.exe
*.dll
*.lib
*.obj
*.user
*.user.*
[Rr]elease
[Rr]elease-*
[Dd]ebug
[Dd]ebug-*
*.sdf
*.suo
*.opensdf
.vs
ipch
*.VC.db
*.VC.dbopen
*.VC.opendb
*.deb
*.rpm
*.zip
*.tgz
*.gz
*.bz2
*.7z
*.tmp
*.log
*.out
core
core.*
vgcore.*
*.stackdump
*~
*.bak
*.autosave
.project
doxy
tmp
