//----------------------------------------------------------------------------
//
// TSDuck - The MPEG Transport Stream Toolkit
// Copyright (c) 2005-2023, Thierry Lelegard
// All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// 1. Redistributions of source code must retain the above copyright notice,
//    this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
// THE POSSIBILITY OF SUCH DAMAGE.
//
//----------------------------------------------------------------------------
//
// Windows resource file, used to build all applications and plugins.
//
//----------------------------------------------------------------------------

#include <VerRsrc.h>
#include "tsVersion.h"

#define STRINGIZE2(s) #s
#define STRINGIZE(s) STRINGIZE2(s)
#define VERSION_STRING STRINGIZE(TS_VERSION_MAJOR) "." STRINGIZE(TS_VERSION_MINOR) "-" STRINGIZE(TS_COMMIT)

// Product icon.
IDI_ICON1 ICON "..\\..\\images\\tsduck.ico"

// Version identification.
VS_VERSION_INFO VERSIONINFO
  FILEVERSION    TS_VERSION_MAJOR, TS_VERSION_MINOR, TS_COMMIT, 0
  PRODUCTVERSION TS_VERSION_MAJOR, TS_VERSION_MINOR, TS_COMMIT, 0
  FILEFLAGSMASK  0xFFFF
  FILEFLAGS      TS_WINVER_FILEFLAGS
  FILEOS         VOS_NT_WINDOWS32
  FILETYPE       TS_WINVER_FILETYPE
  FILESUBTYPE    0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // LangID 0x0409 = U.S. English, CharsetID 1200 (0x04B0) = Unicode
    BLOCK "040904B0"
    BEGIN
      VALUE "ProductName",      "TSDuck\0"
      VALUE "ProductVersion",   VERSION_STRING "\0"
      VALUE "LegalCopyright",   "Copyright (c) 2005-2023, Thierry Lelegard\0"
      VALUE "FileDescription",  "TSDuck - The MPEG Transport Stream Toolkit\0"
      VALUE "FileVersion",      VERSION_STRING "\0"
      VALUE "OriginalFilename", STRINGIZE(TS_WINVER_FILENAME) "\0"
      VALUE "InternalName",     STRINGIZE(TS_WINVER_FILENAME) "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    // LangID 0x0409 = U.S. English, CharsetID 1200 (0x04B0) = Unicode
    VALUE "Translation", 0x409, 1200
  END
END
